
body
{
    font-family: arial;
    color: black;
    font-size: 13px;
    margin: 0;
}


input, select, button 
{
    font-family: arial;
    color: black;
    font-size: 14px;
}

.focus
{
    outline: none;
}
.wapper
{
    display: flex;
    height: 550px;
    width: 430px;
    margin-left:480px;
    margin-top: 40px;
    border: 1px solid black;
    justify-content: center;
    box-shadow: 1px 1px 5px 4px #373967;
}


.wapper h3
{
    font-weight: 400px;
    font-size: 30px;
    text-align: center;
}

.form-group
{
    display: flex;
}
.form-group input
{
    width: 50%;
}
.form-group input:first-child
{
    margin-right: 25px;
}
.form-wapper
{
    position: relative;
}
.form-control
{
    border:none;
    border-bottom: 1px solid black;
    display: block;
    width: 400px;
    height: 30px;
    padding-top: 10px;
}

select
{
    cursor: pointer;
    color: black;
}
select option
{
    color: black;
}


select option[value=""] [disabled]
{
    display: none;
    color: black;

}
button
{
    border: none;
    width: 164px;
    height: 51px;
    margin: auto;
    margin-top: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0%;
    background: black;
    font-size: 15px;
    color: white;
}
button:hover
{
    transition: 0.3s ease-in-out;
    background: blue;
}
@media (max-width: 767px)
{
    .inner
    {
        display: block;
    }
    .inner .image-holder
    {
        width: 100%;
    }
    .inner form
    {
        width: 100%;
        padding: 0 30px;
    }
    button
    {
        margin-top: 60px;
    }
}